// Place all the styles related to the Arguments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.argumentView, .argumentEdit {
  .statementView, .statementEdit {
    display: block;
    width: 80%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);

    &:hover {
      border-color: black;
    }
  }
}
